main{
    background-color: #202C36;
    width: 100%;
    height: 1024px;
}
nav{
    background: #2A3743;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.qqq{
    display: flex;
    height: 30px;
    display: flex;
    align-items: center;
  }
.www{
    background: none;
    border: none;
    color: white;
}
.www:hover{
    background: red;
    border-radius: 5px;
    height: 30px;
}
.eee{
    width: 30px;
    height: 20;
}
.rrr{
    margin-top: 30px;
    width: 380px;
    height: 50px;
    background-color: #2B3844;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.ttt{
    background: none;
    border: none;
    padding-left: 20px;
}
placeholder{
    color: white;

}
.yyy{
    padding-left: 20px;
}
.iii{
    width: 140px;
    margin-left: 20px;
}
.card1{
    width: 264px;
    background: #2A3743;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
}
.card1 img{
    width: 264px;
    border-radius: 5px;
    height: 160px
}
.cards1 {
    display: flex;
    justify-content: space-around;
   
}
.cards2 {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 800px){
    .cards1{
        flex-direction: column;
        display: block;
}
.card1{
    width: 100px;
    height: 100px;
}
}
.ty{
    background-color:#2A3743;
    width: 450px;
    height: 56px;
    color: white;
    border: none;
}
.re{
    margin: 50px;
    display: flex;
    align-items: center;
}
.vsea{
    margin: 30px;
}
/* a{
    text-decoration: none;
    color: white;
} */
.section1{

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left img{
    width: 559px;
    height: 483px;
}
.right {
    width: 574px;
    height: 323px;

    color: white;
}
.fr{
    width: 207px;
    height: 160px;
}
.fr2{
    margin-left: 50px;
    width: 250px;
    height: 96px;
}
.ds{
    display: flex;
}